

.bg-projects {
  
    background-image: url('desktop.gif');
  }   
  
  
  #projects {
    display: flex;
    flex-wrap: nowrap; 
    position: relative;
    top: 0;
    overflow-x:scroll; 
    scrollbar-color: rgba(64, 64, 64, 0.8) rgba(0, 0, 0, 0.5);
    gap: 20px; 
    justify-content: center;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.099);
    width: 80vw;
    margin-left:20vw;
    min-height: 300px;
  }
  
  .project, .challenge {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    justify-content: center;
    text-align: center;
    transition: transform 0.3s ease-in-out; ;
  }
  
  #Challenges {
    overflow-x: auto;
    scrollbar-color: rgba(64, 64, 64, 0.8) rgba(0, 0, 0, 0.5); 
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    width:80vw;
    position: absolute;
    bottom: 0;
    left: 20%;
    right:0;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.108);
  }
  
  
  .challenge, .project {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: auto; 
    margin-right: 20px;
    position: relative; /* Make sure this is set if using pseudo-elements */
    transition: box-shadow 0.5s ease-in-out; /* Smooth transition for box-shadow */
    border-radius: 5px;
  }


  
  .project img, .challenge img {
    visibility: hidden;
    opacity: 0;
    height: 150px; /* set a fixed height */
  }
  
  .project:hover img, .challenge:hover img {
    visibility: visible;
    opacity: 1;
  }
  
  
  .project:hover, .challenge:hover, h3 {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5); 
    background-color: black;
    border-radius: 5px;
  }
  .challenge p a, .project p a{
    margin-right: 10px; /* Adjust the value as needed */
    display: inline-block; /* ensures margin is respected */
}

/* You might also want to add a hover effect for better user experience */
.challenge p a:hover, .project p a:hover{
    opacity: 0.8; /* Example hover effect */
}

  
  @media (max-width: 768px) {
    .bg-projects {
        background-image: url('alt-gif3.gif');
        background-position: left bottom 100px;
    }
    
    #projects .project {
        flex-direction: column;
    }
    
    #projects .project {
        flex-direction: column;
    }
  }

  
@media (max-width: 600px) { 
    #projects {
        justify-content: flex-start; 
    }
    .project {
        flex: 0 0 auto; 
        width: 50%;
    }
  }