:root {
  --main-color: #031528;
  --text-color: #ffffff;
  --background-color: #140642; 
  --nav-item-bg-color: #d518b2;
  width: 100vw;
}

div {
  display: flex
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
  min-height: 100vh; /* Ensure the minimum height is the full viewport height */
  margin: 0;
  padding: 0;
  background: var(--background-color) no-repeat center center fixed;
  background-size: cover;
  scrollbar-color: rgba(64, 64, 64, 0.8) rgba(0, 0, 0, 0.5); 
}